form{
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}

.form-contianer{
  display: flex;
  position: relative;
  width: 50%;
  margin-top: 1rem;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.back-btn{
  position: absolute;
  top: 0;
  left: 1rem;
}

.user-img{
  border-top: 1px solid black ;
}

.user-img img{
  width: 10rem;
}

.wrap-input{
  display: flex;
  align-items: center;
}

/*form-error*/
.form-error{
  font-size: 8px;
  color: red;
}

  /* Form title */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Form inputs */
  label {
    display: block;
    margin-top: 10px;
  }


  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Country and Zip Code */
  input#country,
  input#zipCode {
    text-transform: uppercase; /* Convert input to uppercase */
  }
  
  /* Submit button */
  button[type="submit"] {
    border: none;
    width: 40%;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
  }

  select{
    width: 15rem;
    padding: 10px;
    margin-right: 1rem;
    margin-bottom: 15px;
    border: none;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 4px;
    font-size: 16px;
  }
  
  
  /* Error message for invalid input */
  .error-message {
    color: #d9534f;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      font-size: 14px;
    }
  
    button[type="submit"] {
      font-size: 14px;
    }
  }
  