.user-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border: 1px solid red;
}

tr{
    position: relative;
    transition: 1s all;
    cursor: pointer;
}

tr:hover{
  background-color: lightblue;
}

 

 
 